################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Class/.vs/Class/FileContentIndex/1e107b9d-0fc7-41d9-a343-b80e8f67870a.vsidx
/Class/.vs/Class/FileContentIndex
